<p-dialog header="{{ modalType }} User" [(visible)]="displayAddEditModal" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="userForm" class="user-form">
        <div class="field">
            <label class="block" for="name">Name:</label>
            <input type="text" pInputText id="name" formControlName="name" />
            <small class="p-error block" *ngIf="
            userForm.controls['name'].invalid &&
            userForm.controls['name'].dirty
            ">Field is required</small>
        </div>
        <div class="field">
            <label class="block" for="surname">Surname:</label>
            <input type="text" pInputText id="surname" formControlName="surname" />
            <small class="p-error block" *ngIf="
              userForm.controls['surname'].invalid &&
              userForm.controls['surname'].dirty
            ">Field is required</small>
        </div>
        <div class="field">
            <label class="block" for="job">Job:</label>
            <input type="text" pInputText id="job" formControlName="job" />
            <small class="p-error block" *ngIf="
                userForm.controls['job'].invalid &&
                userForm.controls['job'].dirty
              ">Field is required</small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="addEditUser()" label="{{ modalType }}" [disabled]="userForm.invalid"></p-button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center"></p-toast>`